<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Семантическая вёрстка</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Ссылка</a></li>
				<li><a href="#">Ссылка</a></li>
				<li><a href="#">Ссылка</a></li>
				<li><a href="#">Ссылка</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<aside>
			<p>Дополняющее содержимое</p>
		</aside>
		
		<section>
			<article>
				<p>Независимая секция</p>
			</article>
			<article>
				<p>Независимая секция</p>
			</article>
			<article>
				<p>Независимая секция</p>
			</article>
			<article>
				<p>Независимая секция</p>
			</article>
		</section>
	</main>
</body>

</html>