.quote {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid #bbb;
  border-radius: 50px 0 50px 0;
  color: #404040;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.quote-author {
  display: block;
  font-weight: normal;
  text-align: right;
  font-size: 16px;
}