<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Моё описание</title>
	<link rel="stylesheet" href="./4.css">
</head>

<body>
	<main>
		<h1>Даниил Фурман</h1>
		<h2>Front-end Developer</h2>

		<section>
			<h2>Образование</h2>
			<ul>
				<li>АНО ПО "БИТ". Направление: информацинная безопасность в автоматизированных системах</li>
			</ul>
		</section>

		<section>
			<h2>Навыки</h2>
			<ul>
				<li>Вёрстка веб-страниц: HTML, CSS</li>
				<li>JavaScript: ES2021, React</li>
				<li>PHP, CMS WordPress</li>
				<li>Менеджмент</li>
			</ul>
		</section>

		<section>
			<h2>Дополнительная информация</h2>
			<p>5 лет опыта в вёрстке и работе с CMS WordPress. Делал индивидуальные проекты "под ключ" с нуля, общаясь напрямую с бизнесом и делегируя зону ответственности дизайна другим подрядчикам.</p>
		</section>
	</main>
</body>

</html>